## TODO

- feature engineer age from DOB
- feature engineer time from data charge was filed to date sent to EEOC
- figure out if class code is Closure Code or Type
- determine size of data subset
- fix data types of cols

## Introduction: Injustice at Work

Our data source explores the relationship between attributes of the complainants/complaints regarding Employee Discrimination charges and the outcomes of each charge.

Due to working on our personal machines, we chose 25,000 rows of data at random to represent the full dataset. The original dataset can be found here: https://github.com/PublicI/employment-discrimination/blob/master/data/complaints_10.txt

According to the Injustice at Work Center, each attribute is defined as follows:

- Unique ID: unique identifier for each case (a case is a collection of related charges)
- State Code: complainant state
- No of Employees Code: code indicating the approximate number of employees working for respondent employer
- No of Employees: approximate number of employees working for respondent employer
- NAICS Code: North American Industry Classification System code of respondent employer
- NAICS Description: North American Industry Classification System description of respondent company (e.g., crude petroleum and natural gas extraction)
- Institution Type Code: classification code of respondent employer
- Institution Type: classification of respondent employer (e.g., private employer)
- CP Date of Birth: complainant’s date of birth
- CP Sex: complainant’s gender
- Date First Office: date charge was filed
- Date FEPA Sent to EEOC: date charge was forwarded to the EEOC
- Closure Date: date investigation of case was closed
- Closure Code: code indicating how case was closed
- Closure Type: description indicating how case was closed (e.g., no cause finding issued)
- Monetary Benefits: monetary benefit complainant received
- Statute Code: code for statute under which charge was filed
- Statute: statute under which charge was filed (e.g., Americans with Disabilities Act)
- Basis Code: code for basis of discrimination
- Basis: basis of discrimination (e.g., race-black/African American)
- Issue Code: type code for adverse action alleged by complainant
- Issue: adverse action alleged by complainant (e.g., harassment)
- Court Filing Date: date complainant filed a lawsuit
- Civil Action Number: case number of lawsuit
- Court: court in which lawsuit was filed
- Litigation Resolution Date: date lawsuit was resolved
- Litigation Monetary Benefits: monetary damages recovered through lawsuit
- Litigation Case Type: case type of lawsuit

Our analysis will be looking to classify data by "Closure Code"(? or type), and we have deduced that the possible predictive attributes are as follows:
- State Code: complainant state
- No of Employees Code: code indicating the approximate number of employees working for respondent employer
- NAICS Code: North American Industry Classification System code of respondent employer
- Institution Type Code: classification code of respondent employer
- CP Date of Birth: complainant’s date of birth *
- CP Sex: complainant’s gender
- Date First Office: date charge was filed *
- Date FEPA Sent to EEOC: date charge was forwarded to the EEOC *
- Basis Code: code for basis of discrimination
- Issue Code: type code for adverse action alleged by complainant
- Litigation Case Type: case type of lawsuit

## Pandas Settings

In [253]:
import pandas as pd

pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 100)
pd.options.display.float_format = "{:,.2f}".format

## Preprocessing:
We are taking 25,000 rows from our dataset which included around 343,000 rows due to the limitations of doing this project on personal machines.

In [254]:
ncols = 28
data = pd.read_csv("complaints_10.txt", sep="\t", skiprows=1,
                      dtype={1: str},
                      names=["unique_id", "state_code", "num_employee_code", "num_employees",
                             "naics_code", "naics_desc", "inst_type_code", "inst_type",
                             "age", "sex", "date_filed", "date_sent_eeoc", "date_closed",
                             "closure_code", "closure_action", "monetary_benefits", "statute_code",
                             "statute", "basis_code", "basis", "issue_code", "issue",
                             "court_filing_date", "civil_action_num", "court", "resolution_date",
                             "litigation_monetary_benefits", "litigation_case_type"])

cols_to_drop = ['unique_id', 'num_employees', 'naics_desc', 
                'inst_type', 'date_closed', "closure_action",
                "monetary_benefits", "statute_code", "statute",
                "basis", "issue", "court_filing_date", "date_sent_eeoc",
                "civil_action_num", "court", "resolution_date",
                "litigation_monetary_benefits"
                ]

data = data.drop(cols_to_drop, axis = 1) 
data = data.sample(n = 25_000)
data.head()
data.groupby('litigation_case_type').nunique()

/Users/amirgamenet/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (22,23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,state_code,num_employee_code,naics_code,inst_type_code,age,sex,date_filed,closure_code,basis_code,issue_code,litigation_case_type
litigation_case_type,,,,,,,,,,,
Class,4,4,4,1,10,3,8,1,5,7,1
Individual,20,5,22,4,40,3,41,3,18,17,1

Getting age from birth date and cleaning the age column

In [255]:
def get_age(date):
    if pd.isna(date):
        return 0
    og_year = int(str(date)[-2:]) + 2000
    year = og_year if og_year <= 2010 else og_year - 100
    age = 2010 - year
    og_year = age if age >= 14 else 0
    return og_year

def get_year(date):
    if pd.isna(date):
        return 0
    og_year = int(str(date)[-2:]) + 2000
    year = og_year if og_year <= 2010 else og_year - 100
    og_year = year
    return og_year
    
data['age'] = data['age'].apply(get_age)

Cleaning age field

In [256]:
from datetime import timedelta, date
import numpy as np

data['age'] = data['age'].replace(0, np.nan) # to avoid counting in the zeroes
data['age'] = data['age'].replace(np.nan, data['age'].mean())
data.head()

,state_code,num_employee_code,naics_code,inst_type_code,age,sex,date_filed,closure_code,basis_code,issue_code,litigation_case_type
204752,IL,D,"-9,223,372,036,854,775,808.00",E,43.00,F,06/08/10,M3,RB,T2,None
65420,NY,U,"-9,223,372,036,854,775,808.00",E,45.39,M,12/12/09,N2,NO,T2,None
122872,NY,D,"-9,223,372,036,854,775,808.00",K,60.00,M,01/20/10,X1,OR,R2,None
232991,NY,U,"-9,223,372,036,854,775,808.00",E,59.00,M,05/24/10,None,T3,L1,None
142035,AZ,D,"523,999.00",E,59.00,M,02/19/10,None,AJ,T2,None

In [257]:
data["litigation_case_type"].fillna("No Litigation", inplace = True)
data["state_code"].fillna(data["state_code"].mode()[0], inplace = True)
data["sex"].fillna(data["sex"].mode()[0], inplace = True)
data.isna().sum()
data.groupby('age').count()

,state_code,num_employee_code,naics_code,inst_type_code,sex,date_filed,closure_code,basis_code,issue_code,litigation_case_type
age,,,,,,,,,,
16.00,2,2,2,2,2,2,2,2,2,2
17.00,8,8,8,8,8,8,3,8,8,8
18.00,20,20,20,20,20,20,10,20,20,20
19.00,52,51,52,52,52,52,36,52,52,52
20.00,77,77,77,77,77,77,52,76,77,77
21.00,141,138,141,141,141,141,99,141,141,141
22.00,147,140,147,147,147,147,87,146,147,147
23.00,214,211,214,214,214,214,139,214,214,214
24.00,209,198,209,209,209,209,140,208,209,209
25.00,289,265,289,289,289,289,196,288,289,289
26.00,315,311,315,315,315,315,213,315,315,315
27.00,350,345,350,350,350,350,225,349,350,350
28.00,384,366,384,384,384,384,245,383,384,384
29.00,367,350,367,367,367,367,250,363,367,367
30.00,446,432,446,446,446,446,265,445,446,446
31.00,380,370,380,380,380,380,251,378,380,380
32.00,411,394,411,411,411,411,276,405,411,411
33.00,455,436,455,455,455,455,310,453,455,455
34.00,448,430,448,448,448,448,277,448,448,448
35.00,445,431,445,445,445,445,306,443,445,445
36.00,480,458,480,480,480,480,316,478,480,480
37.00,478,449,478,478,478,478,305,476,478,478
38.00,418,400,418,418,418,418,286,417,418,418
39.00,525,495,525,525,525,525,352,523,525,525
40.00,525,499,525,525,525,525,337,521,525,525
41.00,586,563,586,583,586,586,374,583,586,586
42.00,618,595,618,618,618,618,418,616,618,618
43.00,624,582,624,624,624,624,429,619,624,624
44.00,666,643,666,666,666,666,434,664,666,666
45.00,702,664,702,702,702,702,466,701,702,702
45.39,2494,2341,2494,2493,2494,2494,1649,2480,2494,2494
46.00,730,696,730,730,730,730,517,726,730,730
47.00,713,679,713,713,713,713,468,710,713,713
48.00,763,730,763,763,763,763,513,762,763,763
49.00,665,638,665,665,665,665,451,664,665,665
50.00,719,694,719,719,719,719,491,718,719,719
51.00,736,702,736,736,736,736,508,734,736,736
52.00,754,708,754,754,754,754,524,752,754,754
53.00,739,708,739,739,739,739,495,738,739,739
54.00,628,594,628,628,628,628,453,627,628,628
55.00,622,587,622,622,622,622,415,620,622,622
56.00,589,570,589,589,589,589,394,588,589,589
57.00,484,463,484,484,484,484,339,484,484,484
58.00,493,474,493,492,493,493,353,492,493,493
59.00,454,429,454,454,454,454,309,452,454,454
60.00,438,422,438,438,438,438,299,437,438,438
61.00,376,356,376,376,376,376,263,376,376,376
62.00,410,394,410,410,410,410,273,410,410,410
63.00,297,282,297,297,297,297,191,297,297,297
64.00,195,182,195,195,195,195,128,195,195,195
65.00,177,169,177,177,177,177,109,177,177,177
66.00,119,119,119,119,119,119,76,118,119,119
67.00,101,98,101,101,101,101,77,101,101,101
68.00,98,94,98,98,98,98,68,98,98,98
69.00,76,72,76,76,76,76,46,76,76,76
70.00,69,65,69,69,69,69,51,69,69,69
71.00,52,49,52,52,52,52,38,52,52,52
72.00,35,32,35,35,35,35,24,35,35,35
73.00,34,34,34,34,34,34,24,33,34,34
74.00,27,26,27,27,27,27,17,27,27,27
75.00,31,30,31,31,31,31,20,31,31,31
76.00,18,15,18,18,18,18,10,18,18,18
77.00,19,18,19,19,19,19,12,19,19,19
78.00,18,15,18,18,18,18,12,18,18,18
79.00,17,14,17,17,17,17,12,17,17,17
80.00,8,7,8,8,8,8,8,8,8,8
81.00,5,3,5,5,5,5,4,5,5,5
82.00,4,4,4,4,4,4,2,4,4,4
83.00,2,2,2,2,2,2,1,2,2,2
84.00,1,1,1,1,1,1,1,1,1,1
85.00,3,3,3,3,3,3,3,3,3,3
86.00,1,1,1,1,1,1,1,1,1,1
87.00,2,1,2,2,2,2,2,2,2,2
88.00,1,1,1,1,1,1,0,1,1,1
99.00,1,1,1,1,1,1,1,1,1,1