## TODO

- feature engineer age from DOB
- feature engineer time from data charge was filed to date sent to EEOC
- figure out if class code is Closure Code or Type
- determine size of data subset
- fix data types of cols

## Introduction: Injustice at Work

Our data source explores the relationship between attributes of the complainants/complaints regarding Employee Discrimination charges and the outcomes of each charge.

Due to working on our personal machines, we chose 25,000 rows of data at random to represent the full dataset. The original dataset can be found here: https://github.com/PublicI/employment-discrimination/blob/master/data/complaints_10.txt

According to the Injustice at Work Center, each attribute is defined as follows:

- Unique ID: unique identifier for each case (a case is a collection of related charges)
- State Code: complainant state
- No of Employees Code: code indicating the approximate number of employees working for respondent employer
- No of Employees: approximate number of employees working for respondent employer
- NAICS Code: North American Industry Classification System code of respondent employer
- NAICS Description: North American Industry Classification System description of respondent company (e.g., crude petroleum and natural gas extraction)
- Institution Type Code: classification code of respondent employer
- Institution Type: classification of respondent employer (e.g., private employer)
- CP Date of Birth: complainant’s date of birth
- CP Sex: complainant’s gender
- Date First Office: date charge was filed
- Date FEPA Sent to EEOC: date charge was forwarded to the EEOC
- Closure Date: date investigation of case was closed
- Closure Code: code indicating how case was closed
- Closure Type: description indicating how case was closed (e.g., no cause finding issued)
- Monetary Benefits: monetary benefit complainant received
- Statute Code: code for statute under which charge was filed
- Statute: statute under which charge was filed (e.g., Americans with Disabilities Act)
- Basis Code: code for basis of discrimination
- Basis: basis of discrimination (e.g., race-black/African American)
- Issue Code: type code for adverse action alleged by complainant
- Issue: adverse action alleged by complainant (e.g., harassment)
- Court Filing Date: date complainant filed a lawsuit
- Civil Action Number: case number of lawsuit
- Court: court in which lawsuit was filed
- Litigation Resolution Date: date lawsuit was resolved
- Litigation Monetary Benefits: monetary damages recovered through lawsuit
- Litigation Case Type: case type of lawsuit

Our analysis will be looking to classify data by "Closure Code"(? or type), and we have deduced that the possible predictive attributes are as follows:
- State Code: complainant state
- No of Employees Code: code indicating the approximate number of employees working for respondent employer
- NAICS Code: North American Industry Classification System code of respondent employer
- Institution Type Code: classification code of respondent employer
- CP Date of Birth: complainant’s date of birth *
- CP Sex: complainant’s gender
- Date First Office: date charge was filed *
- Date FEPA Sent to EEOC: date charge was forwarded to the EEOC *
- Basis Code: code for basis of discrimination
- Issue Code: type code for adverse action alleged by complainant
- Litigation Case Type: case type of lawsuit

## Pandas Settings

In [224]:
import pandas as pd

pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 100)
pd.options.display.float_format = "{:,.2f}".format

## Preprocessing:
We are taking 25,000 rows from our dataset which included around 343,000 rows due to the limitations of doing this project on personal machines.

In [225]:
ncols = 28
data = pd.read_csv("complaints_10.txt", sep="\t", skiprows=1,
                      dtype={1: str},
                      names=["unique_id", "state_code", "num_employee_code", "num_employees",
                             "naics_code", "naics_desc", "inst_type_code", "inst_type",
                             "age", "sex", "date_filed", "date_sent_eeoc", "date_closed",
                             "closure_code", "closure_action", "monetary_benefits", "statute_code",
                             "statute", "basis_code", "basis", "issue_code", "issue",
                             "court_filing_date", "civil_action_num", "court", "resolution_date",
                             "litigation_monetary_benefits", "litigation_case_type"])

cols_to_drop = ['unique_id', 'num_employees', 'naics_desc', 
                'inst_type', 'date_closed', "closure_action",
                "monetary_benefits", "statute_code", "statute",
                "basis", "issue", "court_filing_date", "date_sent_eeoc",
                "civil_action_num", "court", "resolution_date",
                "litigation_monetary_benefits"
                ]

data = data.drop(cols_to_drop, axis = 1) 
data = data.sample(n = 25_000)
data.head()
data.groupby('litigation_case_type').nunique()

/Users/amirgamenet/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (22,23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,state_code,num_employee_code,naics_code,inst_type_code,age,sex,date_filed,closure_code,basis_code,issue_code,litigation_case_type
litigation_case_type,,,,,,,,,,,
Class,4,4,4,1,10,2,8,1,4,5,1
Individual,20,5,25,3,43,3,37,3,18,18,1

Getting age from birth date and cleaning the age column

In [226]:
def get_age(date):
    if pd.isna(date):
        return 0
    og_year = int(str(date)[-2:]) + 2000
    year = og_year if og_year <= 2010 else og_year - 100
    age = 2010 - year
    og_year = age if age >= 14 else 0
    return og_year

def get_year(date):
    if pd.isna(date):
        return 0
    og_year = int(str(date)[-2:]) + 2000
    year = og_year if og_year <= 2010 else og_year - 100
    og_year = year
    return og_year
    
data['age'] = data['age'].apply(get_age)

Cleaning age field

In [227]:
from datetime import timedelta, date
import numpy as np

data['age'].replace(0, np.nan) # to avoid counting in the zeroes
data['age'].replace(np.nan, data['age'].mean())
data.head()

,state_code,num_employee_code,naics_code,inst_type_code,age,sex,date_filed,closure_code,basis_code,issue_code,litigation_case_type
143018,TN,C,"561,720.00",E,53,F,02/17/10,M3,OR,D2,None
274176,NC,C,"923,130.00",E,50,M,07/09/10,None,GM,H1,None
240731,OH,A,"921,140.00",G,0,F,05/26/10,M3,OR,D3,None
311324,AL,A,"561,990.00",U,34,F,08/27/10,None,RB,L1,None
315076,MA,D,"611,699.00",N,58,F,08/24/10,None,AO,D3,None

In [228]:
data["litigation_case_type"].fillna("No Litigation", inplace = True)
data["state_code"].fillna(data["state_code"].mode()[0], inplace = True)
data["sex"].fillna(data["sex"].mode()[0], inplace = True)
data.isna().sum()
data.groupby('age').count()

,state_code,num_employee_code,naics_code,inst_type_code,sex,date_filed,closure_code,basis_code,issue_code,litigation_case_type
age,,,,,,,,,,
0,2484,2330,2484,2482,2484,2484,1653,2468,2484,2484
14,1,1,1,1,1,1,0,1,1,1
17,9,9,9,9,9,9,2,9,9,9
18,24,22,24,24,24,24,12,24,24,24
19,57,55,57,57,57,57,45,57,57,57
20,75,74,75,75,75,75,51,75,75,75
21,109,102,109,109,109,109,71,109,109,109
22,141,136,141,141,141,141,92,138,141,141
23,202,191,202,202,202,202,128,201,202,202
24,211,201,211,211,211,211,153,211,211,211
25,295,276,295,295,295,295,187,294,295,295
26,323,312,323,323,323,323,224,322,323,323
27,312,304,312,312,312,312,194,311,312,312
28,338,319,338,338,338,338,223,338,338,338
29,401,385,401,401,401,401,274,401,401,401
30,416,399,416,416,416,416,242,413,416,416
31,382,362,382,382,382,382,262,381,382,382
32,423,406,423,423,423,423,292,421,423,423
33,433,421,433,433,433,433,289,433,433,433
34,389,377,389,389,389,389,246,389,389,389
35,406,386,406,406,406,406,261,404,406,406
36,417,394,417,417,417,417,275,416,417,417
37,419,392,419,419,419,419,293,419,419,419
38,504,479,504,504,504,504,344,502,504,504
39,540,500,540,540,540,540,378,539,540,540
40,585,561,585,585,585,585,397,585,585,585
41,614,582,614,613,614,614,401,611,614,614
42,600,579,600,600,600,600,401,595,600,600
43,633,595,633,633,633,633,429,632,633,633
44,691,668,691,691,691,691,459,690,691,691
45,709,670,709,709,709,709,462,705,709,709
46,711,680,711,711,711,711,481,709,711,711
47,738,709,738,738,738,738,480,736,738,738
48,729,695,729,729,729,729,474,724,729,729
49,688,657,688,688,688,688,473,685,688,688
50,739,703,739,739,739,739,495,738,739,739
51,727,696,727,727,727,727,476,726,727,727
52,746,707,746,746,746,746,483,741,746,746
53,724,680,724,724,724,724,481,720,724,724
54,637,616,637,637,637,637,447,636,637,637
55,655,617,655,655,655,655,445,653,655,655
56,562,544,562,562,562,562,385,561,562,562
57,555,534,555,555,555,555,374,552,555,555
58,527,509,527,527,527,527,374,525,527,527
59,443,429,443,443,443,443,308,442,443,443
60,476,456,476,476,476,476,316,474,476,476
61,432,406,432,432,432,432,301,432,432,432
62,354,336,354,354,354,354,229,353,354,354
63,298,285,298,298,298,298,212,298,298,298
64,191,180,191,191,191,191,131,191,191,191
65,164,157,164,164,164,164,118,164,164,164
66,136,134,136,136,136,136,89,135,136,136
67,113,101,113,113,113,113,76,113,113,113
68,98,83,98,98,98,98,60,98,98,98
69,66,62,66,66,66,66,51,66,66,66
70,68,67,68,68,68,68,41,68,68,68
71,36,35,36,36,36,36,24,36,36,36
72,51,45,51,51,51,51,38,51,51,51
73,42,40,42,42,42,42,31,42,42,42
74,29,29,29,29,29,29,19,29,29,29
75,23,21,23,23,23,23,18,23,23,23
76,23,23,23,23,23,23,13,23,23,23
77,20,20,20,20,20,20,12,20,20,20
78,14,13,14,14,14,14,7,14,14,14
79,10,8,10,10,10,10,7,10,10,10
80,14,10,14,14,14,14,9,14,14,14
81,4,4,4,4,4,4,4,4,4,4
82,3,3,3,3,3,3,1,3,3,3
83,3,3,3,3,3,3,3,3,3,3
84,4,4,4,4,4,4,2,4,4,4
85,1,1,1,1,1,1,1,1,1,1
87,1,1,1,1,1,1,1,1,1,1
88,1,1,1,1,1,1,0,1,1,1
92,1,1,1,1,1,1,0,1,1,1